@{ 
    ViewBag.Title = "Home Page";
}

<div id="formcontainer"></div>


<script src="~/Scripts/Index.js"></script>
@*<script>


    $(function () {
        loadLoginForm();
    });
    function loadLoginForm() {
        $.ajax({
            type: "GET",
            url: '/Home/Login',
            dataType: 'html',
            success: function (response) {
                $('#formcontainer').html(response);
            },
        failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


</script>*@