@*@model SessionManagement.Models.Employee*@

@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>

<form id="addEmployeeForm" action="http://localhost:61577/Dashboard/AddEmployee" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <input type="text" class="form-control" id="Name" />
                @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Salary</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Salary" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Designation</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Designation" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-default" onclick="saveEmployee()" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to Dashboard", "Index")
</div>

<script>
    function saveEmployee() {
        const employee = {
            Name: $('#Name').val(),
            Salary: $('#Salary').val(),
            Designation: $('#Designation').val()
        }
        $.ajax({
            type: 'POST',
            url: 'http://localhost:52924/api/Employee',
            data: JSON.stringify(employee),
            contentType: 'application/json',
            headers: {
                'Authorization': 'X12345678'
            },
            complete: function (response) {
                if (response.status == 201) {
                    $('#addEmployeeForm').submit();
                }
            },
            error: function (response) {
                alert(response.status);
            }
        })
    }
</script>